.title {
  text-align: center;
  padding: 20px;
  border: none;
}
.content {
  padding: 40px;
}
.btn {
  margin-top: 60px;
  color: #fff;
  background-color: #0199FE;
}
.mark {
  padding-top: 10px;
  float: right;
  color: #0199FE;
}