.list {
  width: 680rpx;
  margin: 0 auto;
  .item {
    padding: 30rpx 0rpx;
    font-size: 35rpx;
    color: #2d2d2d;
    border-bottom: 1px solid #f8f8f8;
    display: flex;
    .number {
      margin-right: 20rpx;
    }
  }

  .item:nth-child(-n + 3) {
    .number {
      color: #d10000;
    }
  }
}
